html{   /* Grootte etc van pagina's */
  min-height: 100%;
  position: relative;
  margin:0;
}
body { /* Wat er in de body is wordt bewerkt naar hieronderstaande voorkeuren */
  margin:0;
  text-align:center;
  background-color: rgba(234, 156, 229, 0.57); /* Hier stel je de achtergrondkleur in */
  padding:0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: absolute;
  width: 100%;
}
header{  /* Wat in de headers is wordt op deze voorkeuren bijgewerkt */
  position: sticky;
  top:0;
  z-index: 1; /*zodat de nav niet overlapt wordt door andere dingen tijdens scrollen*/
}
.navbar {
  background-image: url("afbeeldingen/informaticaa.jpg");   /* foto voor menu */
  padding: 24px;  /* Grootte menu */
  box-shadow: 0px 2px 5px #aaa;
}
#nav-bar-item{
  color: black;
  padding: 24px;
  text-decoration: none;
}

#nav-bar-item:hover {/* Wanneer je met muis over de hoever gaat*/
  background: #ddd;
  color: rgb(112, 103, 103);
}
#dropdown-item {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Links inside the dropdown */
.dropdown-content{
  color: black;
  text-decoration: none;
  display: block;
}

main {  /* voor de footer*/
  padding: 0;
  margin:0;
  flex-grow: 1; /* zodat de footer op de bodem blijft als de pagina groter wordt*/
}

#algemeen{
   height: 1500px; /* Used in this example to enable scrolling */
   padding: 0;
   margin:0;
   flex-grow: 1; /* zodat de footer op de bodem blijft als de pagina groter wordt*/
}

section{  /* Hoe section in elkaar zitten */
  display: inline-block;
  text-align: center;
  padding-left: 33%;
  padding-right: 33%;
}

div.figure {  /* foto's  */
  float: right;
  width: 30%;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}
div.figure p {  /* Voor tekst */
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
}

table {   /* Hier zijn de instellingen voor de tabel */
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #b01ac4;
}

.containerAlgemeen{
  position: relative;
  width: 100%;
}

.tekst-op-foto{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: white;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif; /* Lettertypefamilie */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optionele tekstschaduw */
}
/* Stijl voor de afbeelding */
.afbeelding {
  width:100%;
  height: 450px;
}
footer {
  background-color: #b95eb5; /* roze achtergrondkleur */
  color: #ffffff; /* Witte tekstkleur */
  padding: 15px; /* Ruimte rondom de inhoud in de footer */
  text-align: center; /* Tekst gecentreerd in de footer */
  margin-top: auto;
}
.container {
  display: grid;
  grid-template-rows: 1fr auto; /* 1fr voor de inhoud, auto voor de footer */
  min-height: 100vh; /* Minimale hoogte van het scherm */
}