 /* CSS-stijl voor het logo-container */
 .logo {
  background-image: url('jn0aublj.png'); /* Vervang 'jouw-afbeelding.jpg' door het pad naar je eigen afbeelding */
  background-size: contain; /* Pas de grootte van de achtergrondafbeelding aan */
  width: 200px; /* Breedte van het logo-container */
  height: 100px; /* Hoogte van het logo-container */
  text-align: center; /* Centreer de tekst verticaal en horizontaal */
  color: #ffffff; /* Tekstkleur aanpassen */
  font-size: 24px; /* Lettergrootte aanpassen */
}
body {
  background-color: rgba(248, 221, 210, 0.192);
  margin:0;
}
       body {margin:0;}
       .navbar {
  overflow: hidden;
  background-color: #d63ea4ad;
  background-image: url("informaticaa.jpg");
  position: fixed;
  top: 0;
  width: 100%;
}
  body {
  text-align:left;
}

.navbar a {
  float: left;
  display: block;
  color: #250606;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: rgb(112, 103, 103);
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}

div.figure {
  float: right;
  width: 30%;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}
div.figure p {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
}
 /* CSS-regels voor de container die zowel de afbeelding als de tekst bevat */
 .container {
  position: relative; /* Zorg ervoor dat de positionering relatief is voor absolute positionering binnenin */
  width: 300px; /* Pas de breedte van de container aan aan je behoeften */
}

/* CSS-regels voor de afbeelding */
.image {
  width: 100%; /* Laat de afbeelding de volledige breedte van de container innemen */
}

/* CSS-regels voor de tekst */
.text {
  position: absolute; /* Stel absolute positionering in om tekst over de afbeelding te plaatsen */
  top: 50%; /* Plaats de tekst verticaal in het midden van de container */
  left: 0; /* Plaats de tekst helemaal links binnenin de container */
  transform: translateY(-50%); /* Centreer de tekst verticaal */
  background-color: rgba(255, 255, 255, 0.7); /* Voeg een semi-transparante achtergrond toe aan de tekst voor leesbaarheid */
  color: #f30d8074;
  padding: 10px; /* Voeg wat ruimte rondom de tekst toe voor betere leesbaarheid */
}
footer {
  background-color: #b95eb5; /* roze achtergrondkleur */
  color: #ffffff; /* Witte tekstkleur */
  padding: 15px; /* Ruimte rondom de inhoud in de footer */
  text-align: center; /* Tekst gecentreerd in de footer */
}
.container {
  display: grid;
  grid-template-rows: 1fr auto; /* 1fr voor de inhoud, auto voor de footer */
  min-height: 100vh; /* Minimale hoogte van het scherm */
}
