body {
  background-color: rgba(248, 221, 210, 0.192);
  margin:0;
}



.navbar {
  overflow: hidden;
  background-color: #d63ea4ad;
  background-image: url("informaticaa.jpg");
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #250606;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: rgb(112, 103, 103);
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}





    